<p>
    <%if @furniture.furniture_option.map(&:color_code)[0] == nil%>
        <input name="color" class="color-initial" value="" hidden/>
    <%else%>
        <input name="color" class="color-initial" value="<%=@furniture.furniture_option.order(:id).map(&:color)[0]%>" hidden/>
        <div class="each-product-option">
            <span class="option-label">Colour</span>
            <% @furniture.furniture_option.order(:id).map{|p| {:color_code=>p.color_code,:color=>p.color}}.uniq.each do |color|%>
                <div class="swatch color" style="background-color: #<%=color[:color_code]%>;" name="color"value="<%=color[:color]%>" title="<%=color[:color]%>"></div>
            <%end%>
        </div>
    <%end%>

    <%if @furniture.furniture_option.map(&:capacity)[0] == nil%>
        <input name="capacity" class="capacity-initial" value="" hidden/>
    <%else%>
        <input name="capacity" class="capacity-initial" value="<%=@furniture.furniture_option.order(:id).map(&:capacity)[0]%>" hidden/>
        <div class="each-product-option">
            <span class="option-label">Capacity</span>
            <%@furniture.furniture_option.order(:id).map(&:capacity).uniq.each do |capacity|%>
                <button class="button is-small capacity" name="capacity" value="<%=capacity%>"><%=capacity%></button>
            <%end%>
        </div>
    <%end%>

    <%if @furniture.furniture_option.map(&:material_img)[0] == nil%>
        <input name="material" class="material-initial" value="" hidden/>
    <%else%>
        <input name="material" class="material-initial" value="<%=@furniture.furniture_option.order(:id).map(&:material)[0]%>" hidden/>
        <p>Material:</p>
        <div class="each-product-option">
            <span class="option-label">Material</span>
            <%@furniture.furniture_option.order(:id).map{|p| {:material=>p.material,:material_img=>p.material_img}}.uniq.each do |material|%>
                <div class="swatch material" style="background:url('<%=material[:material_img]%>');" name="material" value="<%=material[:material]%>" title="<%=material[:material]%>"></div>
            <%end%>
        </div>
    <%end%>

    <%if @furniture.furniture_option.map(&:kuan)[0] == nil%>
        <input name="kuan" class="kuan-initial" value="" hidden/>
    <%else%>
        <input name="kuan" class="kuan-initial" value="<%=@furniture.furniture_option.order(:id).map(&:kuan)[0]%>" hidden/>
        <p>Type:</p>
        <div class="each-product-option">
            <span class="option-label">Type</span>
            <%@furniture.furniture_option.order(:id).map(&:kuan).uniq.each do |kuan|%>
                <button class="button is-small kuan" name="kuan" value="<%=kuan%>"><%=kuan%></button>
            <%end%>
        </div>
    <%end%>




</p>



