<section class="orders">
	<div class="container is-fluid">

		<div class="columns">
			<div class="column">
				<div class="card">

          		<h1>All Orders</h1>

							<table class="table is-fullwidth">
								<tr>
									<th>Order Id</th>
									<th class="numbers">Total price</th>
                  <th>Date</th>
									<th></th>
								</tr>

								<% @orders.each do |order| %>
									<tr>
										<td><%= order.id %></td>
										<td class="numbers">$<%= '%.2f' % (order.furnitures_order.map{|x|x.quantity*x.furniture_option.price}.sum) %></td>
                    <td><%= order.created_at %></td>
										<td><%= link_to 'Show', order_path(order), class:"button" %></td>
									</tr>
								<% end %>
							</table>



				</div>
			</div>
		</div>

		<%= link_to 'Back to main', root_path %>

	</div>

</section>
