<%= render "shared/navbar", :locales => {:carts => @carts,:wishlists => @wishlists}  %>
<%= render "shared/cart_modal" %>
<section class="orders">
	<div class="container is-fluid">
		<div class="columns">
			<div class="column">
				<nav class="breadcrumb" aria-label="breadcrumbs">
					<ul>
						<li><%= link_to 'Home', root_path %></li>
						<li class="is-active" aria-current="page"><a href="/orders">Orders</a></li>
					</ul>
				</nav>
			</div>
		</div>


		<div class="columns">
			<div class="column">
				<div class="card">

          		<h1>All Orders</h1>

							<table class="table is-fullwidth">
								<tr>
									<th>Order Id</th>
									<th class="numbers">Total price</th>
                  <th>Date</th>
									<th></th>
								</tr>

								<% @orders.each do |order| %>
									<tr>
										<td><%= order.id %></td>
										<td class="numbers">$<%= '%.2f' % (order.furnitures_order.map{|x|x.quantity*x.furniture_option.price}.sum) %></td>
                    <td><%= order.created_at.in_time_zone('Singapore').strftime("%F") %> <%= order.created_at.in_time_zone('Singapore').strftime("%r") %></td>
										<td><%= link_to 'Show', order_path(order), class:"button" %></td>
									</tr>
								<% end %>
							</table>



				</div>
			</div>
		</div>


	</div>
    <%email = if user_signed_in? then current_user.email else "" end%>
      <%= content_tag :div, class: "temp_information", data: {user:user_signed_in?,email:email} do %>
                        <% end %>
        <script src="https://js.stripe.com/v3"></script>
</section>
