<section class="orders">
  <div class="container is-fluid">

		<div class="columns">
			<div class="column">
				<div class="card">
          <h2>
            Order ID: <%= @order.id %>
          </h2>

          <table class="table is-fullwidth">
              <tr>
                  <th>Name</th>

                  <th>Category</th>
                  <th>Image</th>
                  <th>Option</th>
                  <th class="numbers">Price</th>
                  <th class="numbers">Quantity</th>
                  <th class="numbers">Total Price</th>

              </tr>
              <% total = 0%>
              <% @order.furnitures_order.each do |order| %>

              <%  arr = [order.furniture_option.color,order.furniture_option.capacity,order.furniture_option.material,order.furniture_option.kuan]
                  arr = arr.compact.join(", ")
              %>
              <tr>
                  <td><%= order.furniture_option.furniture.name %></td>

                  <td><%= order.furniture_option.furniture.category %></td>
                  <td><img src="<%= order.furniture_option.image %>" width="300px"/></td>
                  <td><%= arr %></td>
                  <td class="numbers">$<%= '%.2f' % order.furniture_option.price %></td>
                  <td class="numbers"><%= order.quantity %></td>
                  <td class="numbers">$<%= '%.2f' % (order.quantity*order.furniture_option.price) %></td>
                  <%total = total + order.quantity*order.furniture_option.price%>
              </tr>

              <% end %>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="total-label">Total</td>
                <td class="total">$<%='%.2f' %total%></td>
              </tr>


          </table>

        </div>
      </div>
    </div>
    </div>
</section>



<%= link_to 'Back to Orders', orders_path %>
