<%= render "shared/navbar", :locales => {:carts => @carts}  %>
<section class="orders">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><a href="/orders">Orders</a></li>
            <li class="is-active" aria-current="page"> <a href="<%="./orders/" + @order.id.to_s %>"><%=@order.id.to_s%></a></li>
          </ul>
        </nav>
      </div>
    </div>

		<div class="columns">
			<div class="column">
				<div class="card">
          <h2>
            Order ID: <%= @order.id %>
          </h2>

          <table class="table is-fullwidth">
              <tr>
                  <th>Name</th>

                  <th>Category</th>
                  <th>Image</th>
                  <th>Option</th>
                  <th class="numbers">Price</th>
                  <th class="numbers">Quantity</th>
                  <th class="numbers">Total Price</th>

              </tr>
              <% total = 0%>
              <% @order.furnitures_order.each do |order| %>

              <%  arr = [order.furniture_option.color,order.furniture_option.capacity,order.furniture_option.material,order.furniture_option.kuan]
                  arr = arr.compact.join(", ")
              %>
              <tr>
                  <td><%= order.furniture_option.furniture.name %></td>

                  <td><%= order.furniture_option.furniture.category %></td>
                  <td><img src="<%= order.furniture_option.image %>" width="300px"/></td>
                  <td><%= arr %></td>
                  <td class="numbers">$<%= '%.2f' % order.furniture_option.price %></td>
                  <td class="numbers"><%= order.quantity %></td>
                  <td class="numbers">$<%= '%.2f' % (order.quantity*order.furniture_option.price) %></td>
                  <%total = total + order.quantity*order.furniture_option.price%>
              </tr>

              <% end %>
              <tr>

                <td colspan="2">
                    <div class="content is-small">
                    Recipient Name<br/>
                    Recipient Contact<br/>
                    Delivery Address<br/>
                    Delibery Timing<br/>
                    Note to deliverer
                    </div>
                </td>
                <td colspan="3">
                    <div class="content is-small">
                    : <%=@order.recipient_name%><br/>
                    : <%=@order.recipient_contact%><br/>
                    : <%=@order.recipient_address%><br/>
                    : <%=@order.delivery_day%>, <%=@order.delivery_time%><br/>
                    : <%=@order.recipient_note%>
                    </div>
                </td>

                <td class="total-label">Total</td>
                <td class="total">$<%='%.2f' %total%></td>
              </tr>


          </table>

        </div>
      </div>
    </div>
    </div>
<%email = if user_signed_in? then current_user.email else "" end%>
      <%= content_tag :div, class: "temp_information", data: {user:user_signed_in?,email:email} do %>
                        <% end %>
        <script src="https://js.stripe.com/v3"></script>
</section>



<%= link_to 'Back to Orders', orders_path %>
