<p>
  <strong>Order ID:</strong>
  <%= @order.id %>
</p>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image</th>
        <th>Capacity</th>
        <th>Color</th>
        <th>Quantity</th>
        <th>Total Price</th>

    </tr>
    <% total = 0%>
    <% @order.furnitures_order.each do |order| %>


    <tr>
        <td><%= order.furniture_option.furniture.name %></td>
        <td><%= '%.2f' % order.furniture_option.price %></td>
        <td><%= order.furniture_option.furniture.category %></td>
        <td><img src="<%= order.furniture_option.image %>" width="300px"/></td>
        <td><%= order.furniture_option.capacity%></td>
        <td><%= order.furniture_option.color%></td>
        <td><%= order.quantity %></td>
        <td><%= '%.2f' % (order.quantity*order.furniture_option.price) %></td>
        <%total = total + order.quantity*order.furniture_option.price%>
    </tr>

    <% end %>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Total</td>
    <td><%='%.2f' %total%></td>
</table>


<%= link_to 'Back to Orders', orders_path %>