<%= render "shared/navbar", :locales => {:carts => @carts,:wishlists => @wishlists}  %>
<%= render "shared/cart_modal" %>
<h1>Wishlist</h1>

    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image</th>
        <th>Total Price</th>
        <th></th>
      </tr>
      <% @wishlists.each do |wishlist| %>

        <tr>
            <td><%= wishlist.furniture_option.furniture.name %></td>
            <td><%= '%.2f' % wishlist.furniture_option.price %></td>
            <td><%= wishlist.furniture_option.furniture.category %></td>
            <td><img src="<%= wishlist.furniture_option.image %>" width="300px"/></td>
            <td><%= '%.2f' % wishlist.furniture_option.price %></td>
            <td><a class="button is-success wishlist-delete">Delete<input value="<%=wishlist.id%>"hidden/></a></td>
        </tr>
      <% end %>
        <%email = if user_signed_in? then current_user.email else "" end%>
        <%= content_tag :div, class: "temp_information", data: {user:user_signed_in?,email:email} do %>
        <% end %>
        <script src="https://js.stripe.com/v3"></script>

    </table>
