<%# this renders the navbar %>
	<section class="hero">
        <%= render "shared/navbar", :locales => {:carts => @carts,:wishlists => @wishlists}  %>
    </section>
    <%= render "shared/cart_modal" %>
	<section id="products">
		<div class="container is-fluid">
			<div class="columns is-variable is-0">
				<div id="sidebar-filter" class="column is-one-fifth">
					<div class="filter-container">
						<h3>Sort By</h3>

						<select class="sort-by">
								<option>Sort by</option>
								<option value="name-asc">Name A-Z</option>
								<option value="name-dsc">Name Z-A</option>
								<option value="price-asc">Price Low to High</option>
								<option value="price-dsc">Price High to Low</option>
						</select>

					</div>
				</div>
				<div id="products-listing" class="column is-four-fifths">
					<div class="container">
						<div class="columns is-variable is-2 is-desktop is-mobile sort-mother">
							<!-- is-1 defines the gap of the rows -->
    							<% @furnitures.each do |furniture| %>

    								<div class="column is-one-third-desktop is-one-third-tablet is-half-mobile for-sort">

    									<div class="card">
    										<a href="<%="./furnitures/" + furniture.id.to_s%>">
    											<div class="card-image">
    												<figure class="image is-4by3">
    													<img src="<%= furniture.img_url %>" alt="">
    												</figure>
    											</div>
    											<div class="card-content">
    												<div class="content">
    													<h3><%= furniture.name %></h3>
    													<p class="price">$<%= '%.2f' % furniture.price %></p>
    												</div>
    											</div>
    										</a>
    									</div>
    								</div>

    							<% end %>

						</div>

					</div>

				</div>
			</div>
		</div>
        <%email = if user_signed_in? then current_user.email else "" end%>
      <%= content_tag :div, class: "temp_information", data: {user:user_signed_in?,email:email} do %>
                        <% end %>
        <script src="https://js.stripe.com/v3"></script>
	</section>
