<%# this renders the navbar %>
<%= render "shared/navbar" %>

<h1>All Furnitures</h1>
<%= link_to 'Cart', carts_path %>|
<%= link_to 'Orders', orders_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Image</th>
    <th></th>
  </tr>

  <% @furnitures.each do |furniture| %>
    <tr>
        <td><%= furniture.name %></td>
        <td><%= '%.2f' % furniture.price %></td>
        <td><%= furniture.category %></td>
        <td><img src="<%= furniture.img_url %>" width="300px"/></td>
        <td><%= link_to 'Show', furniture_path(furniture) %></td>
        <td><%= link_to 'Edit', edit_furniture_path(furniture) %>
        <td><%= link_to 'Destroy', furniture_path(furniture),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New furniture', new_furniture_path %>
