<p>
  <strong>Name:</strong>
  <%= @furniture.name %>
</p>

<p><strong>Price:</strong></p><p class="price">

  <%= @furniture.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @furniture.category %>
</p>

<p>
  <strong>Image:</strong><br/>
  <img class="furniture_image"src="<%= @furniture.img_url %>" width="200px"/>
</p>
<p>
    <%=select_tag("color", options_for_select(@furniture.furniture_option.map(&:color).uniq), { :class => 'color' })%>
    <%=select_tag("capacity", options_for_select(@furniture.furniture_option.map(&:capacity).uniq), { :class => 'capacity' })%>
</p>
<%= content_tag :div, class: "temp_information", data: {temp: @furniture.id} do %>
<% end %>

<%= link_to 'Edit', edit_furniture_path(@furniture) %> |
<%= link_to 'Back', root_path %>