<p>
  <strong>Name:</strong>
  <%= @furniture.name %>
</p>

<p><strong>Price:</strong></p><p class="price">

  <%= @furniture.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @furniture.category %>
</p>

<p>
  <strong>Image:</strong><br/>
  <img class="furniture_image"src="<%= @furniture.img_url %>" width="200px"/>
</p>


<%= render "shared/show_selections", object: @furniture %>
<%= content_tag :div, class: "temp_information", data: {temp: @furniture.id} do %>
<% end %>


<%= form_with scope: :cart, url: carts_path, local: true do |form| %>
    <%= form.label :quantity%>
    <%= form.number_field :quantity ,step: 1, min: 1%>
    <%= form.hidden_field :furniture_option_id, :value => @furniture.furniture_option[0].id  ,class:"furniture_option_id_input"%><input type="submit" value="Add to cart"/>
<%end%>


<%= link_to 'Edit', edit_furniture_path(@furniture) %> |
<%= link_to 'Back', root_path %>