  <%= render "shared/navbar", :locales => {:carts => @carts}  %>
  <%= render "shared/cart_modal" %>

  <section id="product-detail">
    <div class="container is-fluid">

      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><a href="#"><%= @furniture.category %></a></li>
          <li class="is-active" aria-current="page"><a href="#"><%= @furniture.name %></a></li>
        </ul>
      </nav>

      <div class="columns">

        <div class="column is-full">

            <div class="card">
              <div class="columns">
                <div class="column is-half">
                  <div class="product-images-all">

                    <div class="product-image-main">
                      <img class="furniture_image"src="<%= @furniture.img_url %>"/>
                    </div>

                    <div class="product-image-selector">
                      <img src="https://images.crateandbarrel.com/is/image/Crate/Sherwood2SeatSofa84inPearlSOF18/?$web_zoom_furn_av$&190819100010&wid=1008&hei=567"/>
                      <img src="https://images.crateandbarrel.com/is/image/Crate/Sherwood2SeatSofa84inPearlSOF18/?$web_zoom_furn_av$&190819100010&wid=1008&hei=567"/>
                      <img src="https://images.crateandbarrel.com/is/image/Crate/Sherwood2SeatSofa84inPearlSOF18/?$web_zoom_furn_av$&190819100010&wid=1008&hei=567"/>
                    </div>

                  </div>

                </div>
                <div class="column is-half">
                    <div class="product-info-container">

                      <div class="product-info-base">
                        <p><%= @furniture.category %></p>
                        <h1><%= @furniture.name %></h1>
                        <p>Lorem ipsum cupcake bbacon very nice</p>
                        <h2 class="price">$<%= '%.2f' % @furniture.price %></h2>
                        <button>Add to wishlist</button>
                      </div>

                      <div class="product-options">
                        <%= render "shared/show_selections", object: @furniture %>
                      </div>


                      <div class="product-qty">
                        <span class="qty-label">Quantity</span>
                        <button class="button" id="qty-minus-1"><i class='bx bx-minus'></i></button>
                        <input class="furniture_option_id_input" name="furniture_option_id"value="" hidden/>
                        <input class="input" type="number" name="quantity" id="quantity-input" value="1"/>
                        <button class="button" id="qty-add-1"><i class='bx bx-plus'></i></button>
                      </div>

                      <div class="product-add-to-cart" id="product-add-to-cart">
                        <button class="button is-large is-primary add-to-cart-button" id="add-to-cart-button">Add to Cart</button>
                      </div>

                    </div>
                </div>
              </div>

            </div>

        </div>

        </div>
      </div>
      <%= content_tag :div, class: "temp_information", data: {temp: @furniture.id} do %>
                        <% end %>
  </section>




<script>

  //clicking on add and minus modifiers affects the quantity value

  let prodQty = document.querySelector('#quantity-input').value;
  prodQty = parseInt(prodQty);
  console.log('prod quantity ' + prodQty);
  let addOne = document.querySelector('#qty-add-1');
  let minusOne = document.querySelector('#qty-minus-1');
  let addToCart = document.querySelector('#add-to-cart-button');
  let addToCartSection = document.querySelector('#product-add-to-cart')

  //clicking on add , adds 1 to qty

  addOne.addEventListener('click', function(){
      prodQty += 1;
      minusOne.removeAttribute("disabled", "");
      addToCart.removeAttribute("disabled", "");
      console.log('prod quantity ' + prodQty);
      document.getElementById('quantity-input').value = prodQty;
  })

  //clicking on minus , minus 1 to qty, if is 0, disables button

  minusOne.addEventListener('click', function(){
    if (prodQty >= 1){
      prodQty -= 1;
      console.log('prod quantity ' + prodQty);
      document.getElementById('quantity-input').value = prodQty;
      minusOne.removeAttribute("disabled", "");
      addToCart.removeAttribute("disabled", "");
    }

    if (prodQty === 0){
      console.log('prod qty is 0');
      minusOne.setAttribute("disabled", "");
      addToCart.setAttribute("disabled", "");
    }
  })


  //clicking on add to cart, do a plus 1 animation
  addToCart.addEventListener('click', function(){
    console.log('click');
    addToCart.classList.add("is-loading");

    let cartAddedStatus = false;

    setTimeout(function(){
      cartAddedStatus = true;


      //if true, do this animation
      if(cartAddedStatus ===true ){

        addToCart.classList.remove("is-loading");
        var plusOne = document.createElement("div");
        plusOne.innerText = "+1";
        plusOne.classList.add("cart-plus-one");
        addToCartSection.appendChild(plusOne);
        console.log('added');
        setTimeout(function(){
          plusOne.remove();
        }, 500);

      } else {

        addToCart.classList.remove("is-loading");
        console.log('not added');
      }


    }, 1000);


  })

</script>
