<section class="hero">
        <%= render "shared/navbar", :locales => {:carts => @carts}  %>
</section>
<%= render "shared/cart_modal" %>
<p>
  <strong>Name:</strong>
  <%= @furniture.name %>
</p>

<p><strong>Price:</strong></p><p class="price">

  <%= @furniture.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @furniture.category %>
</p>

<p>
  <strong>Image:</strong><br/>
  <img class="furniture_image"src="<%= @furniture.img_url %>" width="200px"/>
</p>


<%= render "shared/show_selections", object: @furniture %>
<%= content_tag :div, class: "temp_information", data: {temp: @furniture.id} do %>
<% end %>

    <label for="quantity-input">Quantity</label>
    <input type="number" name="quantity" id="quantity-input"/>
    <input class="furniture_option_id_input" name="furniture_option_id"value="" hidden/>
    <button class="add-to-cart-button">Add to cart</button></br>


<%= link_to 'Back', root_path %>