  <%= render "shared/navbar", :locales => {:carts => @carts,:wishlists => @wishlists}  %>
  <%= render "shared/cart_modal" %>

  <section id="product-detail">
    <div class="container is-fluid">
      <div class="columns">
  			<div class="column">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><%= link_to 'Home', root_path %></li>
              <li><a href="#"><%= @furniture.category %></a></li>
              <li class="is-active" aria-current="page"><a href="#"><%= @furniture.name %></a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="columns">

        <div class="column is-full">

            <div class="card">
              <div class="columns">
                <div class="column is-half">
                  <div class="product-images-all">

                    <div class="product-image-main">
                      <img class="furniture_image"src="<%= @furniture.img_url %>"/>
                    </div>

                    <div class="product-image-selector furniture-image-list">

                    </div>

                  </div>

                </div>
                <div class="column is-half">
                    <div class="product-info-container">

                      <div class="product-info-base">
                        <p><%= @furniture.category %></p>
                        <h1><%= @furniture.name %></h1>
                        <p id="short-description"></p>
                        <h2 class="price">$<%= '%.2f' % @furniture.price %></h2>
                        <p id="long-description"></p>
                      </div>

                      <div class="product-options">
                        <%= render "shared/show_selections", object: @furniture %>

                      </div>


                      <div class="product-qty">
                        <span class="qty-label">Quantity</span>
                        <button class="button" id="qty-minus-1"><i class='bx bx-minus'></i></button>
                        <input class="furniture_option_id_input" name="furniture_option_id"value="" hidden/>
                        <input class="input" type="number" name="quantity" id="quantity-input" value="1"/>
                        <button class="button" id="qty-add-1"><i class='bx bx-plus'></i></button>
                      </div>

                      <div class="product-buttons" id="product-buttons">
                        <%if @wishlists.select{|x|x.furniture_option.furniture.id == @furniture.id}.length >0%>

                            <button class="button is-small add-to-wishlist-button" id="add-to-wishlist-button"><i class='bx bxs-heart' id="wishlist-heart"></i>Add to Wishlist</button>
                            <input class="wishlist_id_input"name="wishlist_id" value="<%=@wishlists.select{|x|x.furniture_option.furniture.id == @furniture.id}[0].id%>" hidden/>
                        <%else%>
                            <button class="button is-small add-to-wishlist-button" id="add-to-wishlist-button"><i class='bx bx-heart' id="wishlist-heart"></i>Add to Wishlist</button>
                            <input class="wishlist_id_input"name="wishlist_id" value="" hidden/>
                        <%end%>
                         </br>

                        <button class="button is-medium is-primary add-to-cart-button" id="add-to-cart-button">Add to Cart</button>

                        <button class="button is-medium" id="go-ar-button"><i class='bx bx-street-view'></i><a href="https://marcykay.github.io/experiment/AR-2/index.html">View In My Room (AR)</a></button>
                        <p class="login-warning" hidden>You need to login first</p>
                      </div>

                    </div>
                </div>
              </div>

            </div>

        </div>

        </div>
      </div>
      <%email = if user_signed_in? then current_user.email else "" end%>
      <%= content_tag :div, class: "temp_information", data: {temp: @furniture.id,user:user_signed_in?,email:email} do %>
                        <% end %>
        <script src="https://js.stripe.com/v3"></script>
  </section>
