<!DOCTYPE html>
<html>
  <head>
    <title>Unit3proj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
